@import "../../style/variables";
.Button {
    width: 100%;
    button {
        background-color: $black-button-color;
        width: 100%;
        height: 90px;
        color: $text-color;
        text-align: left;
        font-size: 18px;
        padding-left: 30px;
        border: none;
        margin: 10px 0;
        text-transform: uppercase;
        &:hover {
            background-color: $hit-button-color;
        }
    }
}