@import "../../style/variables";
.LevelsView {
    background-color: $blue-color;
    padding: 20px $menu-margin 0 $menu-margin;
    .logo {
        padding: 10px 0;
        box-sizing: border-box;
        img {
            width: 200px;
        }
    }
    .levels {
        @include flexbox();
        @include flex-direction(column);
    }
}